body {
    background-color: #fff2cc;
}
.app-container {
    padding-left: 0px;
    padding-right: 0px;
}
.login-card {
    width: 24rem;
}
.hide {
    display: none;
}
.show {
    display: inline-block;
}
#customer-tab, #support-tab {
    color: #000000;
}
.error-msg {
    font-size: 12px;
    color: #dc3545;
}
.success-msg {
    font-size: 12px;
    color: #198754;
}

footer {
    background-color: #000000;
    position: sticky;
    bottom: 0px;
    width: 100%;
    right: 0px;
}
.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.text-twitter-icon {
    color: #6ab8ff
}

.text-insta-icon {
    color: #cbb8fd
}

.text-fb-icon {
    color: #1337C7
}
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}
.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}


@media screen and (max-width:767px) {
    .login-card {
        width: 18rem;
    }
}
